{#
/**
 * @file
 * ts-lodge-couches.html.twig
 */
#}
<div class="container">
  <h2 id="couchesTitle">Occupation des couchages</h2>
  <div id="selectDate">
    <button id="prevDay">←</button>
    <input type="date" id="selectedDate" />
    <button id="nextDay">→</button>
  </div>
  <div id="couchesContainer"></div>
  <button type="button" id="closeBtn" class="btn-close">Fermer</button>
</div>
