{#
/**
 * @file
 * ts-lodge-find-couch.html.twig
 */
#}
<div class="tslo-wrapper">
<div class="tslo-container">
  <h2>Choisir un couchage</h2>

  {# Groupes C #}
  <div class="group">
    <h3>Groupe C1</h3>
    <div class="group-c">
      <button class="btn-couch">C11</button>
      <button class="btn-couch">C12</button>
      <button class="btn-couch">C13</button>
      <button class="btn-couch">C14</button>
    </div>
  </div>

  <div class="group">
    <h3>Groupe C2</h3>
    <div class="group-c">
      <button class="btn-couch">C21</button>
      <button class="btn-couch">C22</button>
      <button class="btn-couch">C23</button>
      <button class="btn-couch">C24</button>
    </div>
  </div>

  <div class="group">
    <h3>Groupe C3</h3>
    <div class="group-c">
      <button class="btn-couch">C31</button>
      <button class="btn-couch">C32</button>
      <button class="btn-couch">C33</button>
      <button class="btn-couch">C34</button>
    </div>
  </div>

  <div class="group">
    <h3>Groupe C4</h3>
    <div class="group-c">
      <button class="btn-couch">C41</button>
      <button class="btn-couch">C42</button>
      <button class="btn-couch">C43</button>
      <button class="btn-couch">C44</button>
    </div>
  </div>

  <div class="group">
    <h3>Groupe C5</h3>
    <div class="group-c">
      <button class="btn-couch">C51</button>
      <button class="btn-couch">C52</button>
    </div>
  </div>

  {# Bungalow #}
  <div class="group">
    <h3>Bungalow</h3>
    <div class="group-c">
      <button class="btn-couch">Bungalow</button>
    </div>
  </div>

  {# Groupes T #}
  <div class="group">
    <h3>Groupe T1</h3>
    <div class="group-t">
      <button class="btn-couch">T11</button>
      <button class="btn-couch">T12</button>
      <button class="btn-couch">T13</button>
      <button class="btn-couch">T14</button>
      <button class="btn-couch">T15</button>
      <button class="btn-couch">T16</button>
      <button class="btn-couch">T17</button>
      <button class="btn-couch">T18</button>
    </div>
  </div>

  <div class="group">
    <h3>Groupe T2</h3>
    <div class="group-t">
      <button class="btn-couch">T21</button>
      <button class="btn-couch">T22</button>
      <button class="btn-couch">T23</button>
      <button class="btn-couch">T24</button>
      <button class="btn-couch">T25</button>
      <button class="btn-couch">T26</button>
      <button class="btn-couch">T27</button>
      <button class="btn-couch">T28</button>
    </div>
  </div>

  <div class="group">
    <h3>Groupe T3</h3>
    <div class="group-t">
      <button class="btn-couch">T31</button>
      <button class="btn-couch">T32</button>
      <button class="btn-couch">T33</button>
      <button class="btn-couch">T34</button>
      <button class="btn-couch">T35</button>
      <button class="btn-couch">T36</button>
      <button class="btn-couch">T37</button>
      <button class="btn-couch">T38</button>
    </div>
  </div>

  <div class="group">
    <h3>Groupe T4</h3>
    <div class="group-t">
      <button class="btn-couch">T41</button>
      <button class="btn-couch">T42</button>
      <button class="btn-couch">T43</button>
      <button class="btn-couch">T44</button>
      <button class="btn-couch">T45</button>
      <button class="btn-couch">T46</button>
      <button class="btn-couch">T47</button>
      <button class="btn-couch">T48</button>
    </div>
  </div>

  <div style="margin-top: 20px;">
    <button type="button" id="closeBtn" class="btn-close">Fermer</button>
  </div>
</div>
</div>
